
/*about page styles*/


.topics {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 10rem;
}


.topics li {
    align-content: center;
    min-width: 26%;
    background: #593825;
    transition: box-shadow 0.5s;
    margin: 2rem 3rem;
}

.topics a {
    font-size: 2rem;
    display: inline-block;
    padding: 2rem;
    text-transform: uppercase;
}


.topics li:hover {
    background: #2D6C7325;
    color: var(--text-color);
    font-size: 2rem;
    box-shadow: 0.2rem 0.3rem 0.5rem #223438;
    text-decoration: none;
}

.dark-theme .topics li {    
    background: #59384575;
}

.dark-theme .topics li:hover {
    background: #8C032725;
    color: var(--text-color);
}

.hermes img{
max-width: 20%;
}

@media (min-width: 768px) {
        
    .topics {
        flex-flow: row wrap;
    }
}