/* Berlare website
author @stefmeul*/

/*blog page styles*/

body main {
    max-width: 100%;
    min-height: 175rem;
}

.blog__main__section h2 {
    padding: 5rem 0;
    text-align: center;
}

/*masonry layout source:
https://codepen.io/chriscoyier/pen/XojXxy
*/

.blog__posts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350rem;
}

.blog__posts__list blockquote {
    border-left: 2px solid #2f3e46;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
}

.blog__posts__list blockquote, iframe, img, h3, p {
    margin-bottom: 1rem;
}

.blog__posts__list h3 {
    font-size: 1.3rem;
}

.blog__posts__list iframe {
    border: none;
    max-height: 100%;
    max-width: 100%;
}

.blog__posts__list li {
    border-bottom: 1px solid #2f3e46;
    margin: 0 1rem 1rem 0;
    max-width: 30%;
}


/*Blog responsive styles

@media (min-width: 400px) {
    body main {
        min-height: 200rem;
    }
    
    .blog__posts__list {
        max-height: 350rem;
    }
    
    .blog__posts__list li {
        max-width: 45%;
    }
}

@media (min-width: 600px) {
    body main {
        min-height: 200rem;
    }
    
    .blog__posts__list {
        max-height: 250rem;
    }
    
}

@media (min-width: 800px) {
    body main {
        min-height: 200rem;
    }
    
    .blog__posts__list {
        max-height: 220rem;
    }
    
    .blog__posts__list h3 {
        font-size: 2rem;
    }
    
}

@media (min-width: 1100px) {
    body main {
        min-height: 185rem;
    }
    
    .blog__posts__list {
        max-height: 180rem;
    }
    
    .blog__posts__list li {
        max-width: 30%;
    }
}

@media (min-width: 1300px) {
    body main {
        min-height: 180rem;
    }
    
    .blog__posts__list {
        max-height: 170rem;
    }
}

@media (min-width: 1500px) {
    body main {
        min-height: 170rem;
    }
    
    .blog__posts__list {
        max-height: 2550rem;
    }
}
*/