/*header styles

*/

header a {
    color: #f8f7ff;
    text-decoration: none;
}

.menu-and-light-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    margin-left: 1.5rem;
    border: 1px solid #22343815;
    border-radius: 50px;
    color: var(--link-color);
}
.menu-button > i {
    font-size: 3.4rem;
}

.dark-theme .menu-button {
    color: var(--link-color);
}

.menu-close {
    margin: 2rem 0rem;
    
}

.lightswitch {
    background: none;
    border: none;
    font-size: 3.4rem;
    color: var(--link-color);
    padding: 2rem 4rem;
}

.dark-theme .lightswitch {
    color: var(--link-color);
}


/* Hide both icons by default */
.lightswitch .icon-light,
.lightswitch .icon-dark {
    display: none;
}

/* Show the light icon by default */
.lightswitch .icon-light {
    display: inline;
}

/* Add styles for when the dark mode is active */
.lightswitch.active .icon-light {
    display: none;
}

.lightswitch.active .icon-dark {
    display: inline;
}


/*header nav styles*/

.header__nav {
    margin-bottom: 0.5rem;
}

.header__nav__active {
    box-shadow: 0.2rem 0.3rem 0.5rem #402116;
}

.header__nav__menu {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    padding: 5rem ;
}

.header__nav__menu a {
    font-size: 2rem;
    margin-left: 0.5em;
    transition: box-shadow 0.5s, text-transform 0.3s;
    display: inline-block;
    padding: 1.5rem 2rem;
}

.header__nav__menu a:hover {
    color: #2D6C73;
    box-shadow: 0.2rem 0.3rem 0.5rem #223438;
    text-decoration: none;
    text-transform: capitalize;
}

.header__nav__active>a:hover {
    box-shadow: none;
    border: none;
}

/*offcanvas menu */

.offcanvas {
    background: var(--bkg-light);
}

.dark-theme .offcanvas {
    background: var(--bkg-dark);
}

/* Make the offcanvas height fit its content */
.offcanvas.offcanvas-start {
    padding-right: 5rem;
    width: auto;
    /* Let the height be determined by the content */
    max-width: 100vh;
    /* Ensure it doesn't exceed the viewport height */
    overflow: hidden;
    /* Prevent overflow */
}

/* Optional: If the offcanvas exceeds the viewport height, allow page scrolling 
body.offcanvas-open {
    overflow-y: auto;
}
*/

.sticky-top {
    z-index: 1030;
    /* Ensure it's above other content */
    }
    /*

main {
    z-index: 1000;
     Lower than the navbar
    }
    
    header {
        z-index: 1010;
    }
    
    
    @media (min-width: 768px) {
        
    .header__nav__menu {
        display: flex;
        flex-direction: row;
    }
    
    .menu-close {
        display: none;
    }
    .menu-button {
        display: none;
    }
    .offcanvas-md {
        background: none;
    }
    
    .dark-theme .offcanvas-md {
        background: none;
    }
    
}
*/