

/*header styles

*/

header a {
    color:#f8f7ff;
    text-decoration: none;
}

.logo-lightswitch{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
}

.lightswitch{
    background: none;
    border: none;
    font-size: 4rem;
    color:#f8f7ff;
    padding: 2rem 4rem;
}


/* Hide both icons by default */
.lightswitch .icon-light,
.lightswitch .icon-dark {
    display: none;
}

/* Show the light icon by default */
.lightswitch .icon-light {
    display: inline;
}

/* Add styles for when the dark mode is active */
.lightswitch.active .icon-light {
    display: none;
}

.lightswitch.active .icon-dark {
    display: inline;
}


/*header nav styles*/

.header__nav {
    margin-bottom: 0.5rem;
}

.header__nav__active {
    box-shadow: 0.2rem 0.3rem 0.5rem #402116;
}

.header__nav__menu {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
}

.header__nav__menu a {
    font-size: 2rem;
    margin-left: 0.5em;
    transition: box-shadow 0.5s, letter-spacing 0.3s, text-transform 0.3s;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.header__nav__menu a:hover {
    color: #2D6C73;
    box-shadow: 0.2rem 0.3rem 0.5rem #223438;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: capitalize;
}

.header__nav__active > a:hover {
    box-shadow: none;
    border: none;
}


@media (min-width: 800px) {
    
    .header__nav__menu {
        display: flex;
        flex-direction: row;
    }
}
