/* Bosangani website
author @stefmeul*/

/*index page styles*/

.banner {
    filter: brightness(96%);
}

.index__first__section {
    background-color: #232523e5;

    padding: 5rem 0;
    border-radius: 20px;
}

.index__first__section__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.index__first__section__link {
    background: #593825;
    border-radius: 3px;
    display: block;
    min-width: 100%;
    padding: 0.3rem 5rem;
    text-align: center;
    transition: background 0.3s, box-shadow 0.3s, letter-spacing 0.3s;
}

.index__first__section__link:hover {
    background: #2D6C7325;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}


.dark-theme .index__first__section__link {
    background: #59384575
}

.dark-theme .index__first__section__link:hover {
    background: #8C032725;
    color: var(--heading-color);
}

.index__first__section__content p {
    margin-bottom: 3rem;
    max-width: 100%;

}


/* Initial state: cards are off-screen */
.slide-in {
    background-color: #00120010;

    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Slide-in when visible */
.slide-in.visible {
    transform: translateX(0);
    opacity: 1;
}

.quotes {
    overflow-x: hidden;

}

.quote-first {
    border-right: 1px solid #52796f;
    border-bottom: 1px solid #52796f;
}

.quote-last {
    border-left: 1px solid #52796f;
    border-bottom: 1px solid #52796f;
}

.quote-left {
    border-right: 1px solid #52796f;
    border-top: 1px solid #52796f;
}

.quote-right {
    border-left: 1px solid #52796f;
    border-top: 1px solid #52796f;
}


.index__third__section h2 {
    padding: 5rem 0;
    text-align: center;
}

.index__third__section__list01 {
    border-bottom: 1px solid #223438;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.index__third__section__list01 li {
    padding: 3rem 0;
    width: 49%;
}

.index__third__section__list01 li+li {
    border-left: 1px solid #223438;
    border-top: 1px solid #223438;

    padding-left: 5rem;
}

.index__third__section__list02 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: center;
}

.index__third__section__list02 li {
    padding: 3rem 0;
    width: 49%;
}

.index__third__section__list02 li+li {
    border-left: 1px solid #223438;
    border-top: 1px solid #223438;
    padding-left: 5rem;
}


/*responsive styles*/

@media (min-width: 800px) {


    .index__first__section__content {
        align-items: center;
        flex-direction: row;
    }

    .index__first__section__link {
        min-width: 40%;
    }

    .index__first__section__content p {
        padding-right: 3rem;
        max-width: 50%;
    }
}