/* Bosangani website
author @stefmeul*/

/*program page styles*/

body main {
    max-width: 100%;
}

.schedule{
    min-height: 50rem;

}

.blog__main__section h2 {
    padding: 5rem 0;
    text-align: center;
}

.blog__main__section h2 {
    padding: 5rem 0;
    text-align: center;
}
.nav-tabs {
    border: none;
    margin-bottom: 2rem;
}

.nav-tabs .nav-link {
    background: none;
    border: 1px solid #593825;
    border-radius: 10px;
    color: var(--text-color);
}

.nav-tabs .nav-link:hover {
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    border: 1px solid #2f3e46;
    color: var(--link-color);
}

.nav-tabs .nav-link.active {
    background: #593825;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    border: 1px solid #2f3e46;
    color: var(--link-color);
}


.dark-theme .nav-tabs .nav-link {
    background: none;
    border: 1px solid #593825;
}

.dark-theme .nav-tabs .nav-link:hover {
    background: #59384575;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    border: 1px solid #f7a2c5;
    color: var(--link-color);
}

.dark-theme .nav-tabs .nav-link.active {
    background: #59384575;
    border: 1px solid #f7a2c5;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    color: var(--heading-color);
}


.list-group-item {
    background: none;
    color: var(--text-color);
    border: none;
    outline: none;
    margin-bottom: 2rem;
    padding: 3rem 2rem;
}

.list-group-item:focus,
.list-group-item:active {
    background: #ffffff07;
}

.list-group-item:hover {
    background: #ffffff17;
    border: 1px solid #2f3e46;
}

.dark-theme 
.list-group-item:focus,
.list-group-item:active {
    background: #ffffff07;
    color: var(--heading-color);
}

.dark-theme .list-group-item:hover {
    border: 1px solid #f7a2c5;
    color: var(--heading-color);

}

small {
    font-size: 1.7rem;
}