/* Bosangani Website 
by rezgauche 

Color Theme Swatches in Hex 
.Vivid-for-Sćhon!-1-hex { color: #8C0327; }
.Vivid-for-Sćhon!-2-hex { color: #D91448; }
.Vivid-for-Sćhon!-3-hex { color: #2D6C73; }
.Vivid-for-Sćhon!-4-hex { color: #6DA0A6; }
.Vivid-for-Sćhon!-5-hex { color: #F2B705; }

https://color.adobe.com/trends/Fashion?page=4 

 Color Theme Swatches in Hex 

 .BEAUTY-OF-EXISTENCE-1-hex { color: #EFF2EB; }
.BEAUTY-OF-EXISTENCE-2-hex { color: #BF8C60; #fbbc85 }
.BEAUTY-OF-EXISTENCE-3-hex { color: #593825; }
.BEAUTY-OF-EXISTENCE-4-hex { color: #8C5B3E; }
.BEAUTY-OF-EXISTENCE-5-hex { color: #402116; }
*/


* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    filter:brightness(87%);
}

.wrapper {
    margin: 0 auto;
    max-width: 85%;
}

address{
    color: var(--text-color);
    font-size: 1.2rem;
}

:root {
    color-scheme: light dark;
    /* defined in darkmode.js*/
}

body {
    /* Custom default properties */
    --text-color: #402116;
    --bkg-color: #f8f7ff;
    --heading-color: #593825;
    --link-color: #F2B705;
    --bkg-light: linear-gradient(140deg, #db0101 2%, #f7a2c5 0.8%, #db0101 2.7%, #db0101 2.7%, #f7a2c5 0.8%, #db0101 3.6%, #db0101 2.7%, #D91448 5%, #F2B705 50%, #8C0327);

    /* Applying custom properties */
    background-color: var(--bkg-color);
    color: var(--text-color);

    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    background: var(--bkg-light);
}

/* Body dark theme variables */
body.dark-theme {
    --text-color: #fbbc85;
    --bkg-color: #121212;
    --heading-color: #F2B705;
    --link-color: #fbbc85;
    --bkg-dark: linear-gradient(140deg, #8C0327 2%, #D91448 0.8%, #8C0327 2.7%, #8C0327 2.7%, #D91448 0.8%, #8C0327 3.6%, #8C0327 2.7%, #8C0327 5%, #121212 50%, #8C0327);

    background: var(--bkg-dark);
}

/*fonts and headings*/

main h2 {
    font-family: 'Cousine', monospace, sans-serif;
    letter-spacing: 0.52rem;
    text-transform: uppercase;
    color: var(--heading-color);
    font-size: 3.7rem;
    font-weight: 700;
    text-align: center;
}

main h2::after {
    color: transparent;
    content: "----";
    display: block;
    text-decoration: 3px solid line-through;
    text-decoration-color: var(--heading-color);
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}

address {
    font-style: normal;
}

::selection {
    background: #fbbc85;
    color: #402116;
}

main a {
    color: var(--link-color);
    font-size: 1.45rem;
}

main p, a, li {
    font-family: 'Noto', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-weight: 200;
}

main blockquote {
    font-family: 'Cousine', monospace, sans-serif;
    font-size: 1.7rem;
}

main h3 {
    color: var(--heading-color);
    font-family: 'Cousine', monospace, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}

main li {
    font-size: 2rem;
}

main p {
    font-size: 1.75rem;
}

ul {
    list-style: none;
}

section {
    margin-top: 5rem;
    margin-bottom: 4rem;
}



/* Modals */

.modal-title {
    color: var(--heading-color);
    font-family: 'Cousine', monospace, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.52rem;
    text-transform: uppercase;
    margin: 2rem 1rem 0rem 1rem;
}

.modal-header, .modal-footer {
    border: none;
}

.modal img {
    padding-bottom: 2rem;
}

.modal-content {
    background: radial-gradient(circle at 88%, #F2B705, #F2B705 2%, #f7a2c5 38%, #D91448 122%);
}

.modal-body {
    padding: 2rem;
}

.modal-body p {
    color: var(--text-color);
    line-height: 1.8;
}

.dark-theme>.modal-body p {
    color: var(--text-color);
}

.modal-content.dark-theme {
    background: radial-gradient(circle at 88%, #121212, #121212 2%, #2D6C73 38%, #8C0327 122%);
}

.btn-close {
    filter: invert(80%) sepia(150%) saturate(500%) hue-rotate(350deg) brightness(100%) contrast(100%);
}

.btn-close:hover {
    background: #21915324;
}

.modal-footer button {
    background: #f7a2c575;
    color: #dad7e3;
    border: none;
    font-size: 1.5rem;
}

.modal-footer button:hover {
    background: #2D6C7375;
    color: #f7a2c5;
}

.dark-theme>.modal-footer button {
    background: #2D6C73;
    color: #f7a2c5;
}

.dark-theme>.modal-footer button:hover {
    background: #f7a2c5;
    color: #2D6C73;
}


/*aside styles*/

.index__aside {
    background: #ffffff07;
    padding: 5rem 0;
}

.index__aside h2::after {
    display: none;
}

.index__aside .wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-link {
color: var(--link-color);
font-size: 2.5rem;
}

.index__aside__button01 {
    background: none;
    border: 1px solid #593825;
    color: var(--text-color);
    border-radius: 3px;
    display: block;
    width: 70%;
    padding: 0.3rem 2rem;
    text-align: center;
    transition: background 0.3s, box-shadow 0.3s, letter-spacing 0.3s;
}

.index__aside__button01:hover {
    background: #2D6C7325;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    color: var(--link-color);
    letter-spacing: 0.1rem;
}

.dark-theme .index__aside__button01 {
    color: var(--text-color);
}

.dark-theme .index__aside__button01:hover {
    color: var(--heading-color);
}

.index__aside__button02 {
    background: #593825;
    border-radius: 3px;
    display: block;
    width: 70%;
    padding: 0.3rem 5rem;
    text-align: center;
    transition: background 0.3s, box-shadow 0.3s, letter-spacing 0.3s;
}

.index__aside__button02:hover {
    background: #2D6C7325;
    box-shadow: 0.1rem 0.1rem 0.2rem #2f3e46;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

.dark-theme .index__aside__button02 {
    background: #59384575
}

.dark-theme .index__aside__button02:hover {
    background: #8C032725;
    color: var(--heading-color);
}

.index__aside__content h2 {
    font-size: 2rem;
}

.index__aside__content h3 {
    font-size: 3rem;
}

.index__aside__content p {
    padding: 1rem 3rem 0 0;
    margin-bottom: 3rem;
}

.index__aside__links {
    display: flex;
    flex-direction: column;
    /* Arrange links vertically */
    align-items: center;
    /* Center the links horizontally */
    width: 100%;
    /* Ensure the container takes full width */
}

.index__aside__links a {
    min-height: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem 0;
}